@import url("https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap");
@import "~@dracula/dracula-ui/styles/dracula-ui.css";

// reset

html,
body {
  padding: 0;
  margin: 0;
  background-color: hsl(0, 0%, 0%);
  font-family: "Luxurious Roman", cursive;
  color: white;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// classes

.mainTitle {
  font-size: 4rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-around;
  border: 2px solid white;
}

.picture {
  margin: 10px;
}

// elements

p {
  color: white;
  font-size: 1.25rem;
}

// media queries

@media screen and (max-width: 800px) {
  .container {
    flex-wrap: wrap;
  }
}
