.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.holder {
  display: flex;
  justify-content: center;
  border: 2px solid white;
}

.pic {
  margin: 10px;
}
